body {
	background: #0c739f url(../img/background.jpg) top repeat-x;
	font-family: Tahoma, sans-serif;
}
a {
	text-decoration: none;
}
img {
	margin-bottom: -2px;
}
.container {
	overflow: hidden;
	position: relative;
	background-color: white;
	margin: 0 auto;
	width: 1000px;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
	   -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
}
/* Header */
.logo {
	padding-top: 10px;
	padding-left: 30px;
}
.headRight {
	float: right;
	margin-right: 30px;
}
.contacts {
	float: right;
	font-size: 12px;
	color: #41a1b9;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 35px;
}
.contacts li:first-child {
	font-size: 12px;
	font-weight: bold;
}
.countries {
	clear: both;
}
.countries li {
	display: inline-block;
	font-size: 10px;
	width: 53px;
	text-align: center;
}
.countries a {
	text-decoration: underline;
	color: #128aa7;
}
.countries a:hover {
	text-decoration: none;
}
/*Navigation*/
.nav {
	position: relative;
	z-index: 3;
	border-bottom: 1px solid black;
	border-top: 1px solid #cacbcb;
	padding-left: 40px;
	-webkit-box-shadow: 0 4px 4px -2px #6c6c6c;
   	-moz-box-shadow: 0 4px 4px -2px #6c6c6c;
    box-shadow: 0 4px 4px -2px #6c6c6c;
	background: rgba(55,55,55,1);
	background: -moz-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,55,55,1)), color-stop(100%, rgba(48,48,48,1)));
	background: -webkit-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
	background: -o-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
	background: -ms-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
	background: linear-gradient(to bottom, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030', GradientType=0 );
}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
.nav li {
	float: left;
	position: relative;
	line-height: 28px;
	width: 130px;
	text-align: center;
}
.nav ul {
	position: absolute;
	left: -9999px;
	opacity: 0;
	-webkit-transition:0.25s linear opacity;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.nav a {
	color: white;
	font-size: 14px;
}
.nav ul li {
	padding-top: 1px;
	float: none;
	background: #303030;
}
.nav ul li:first-child {
	border-top: 1px solid black;
}
.nav ul a {
	white-space: nowrap;
	display: block;
}
.nav li:hover ul {
	left: 0;
	opacity: 1;
}
/*Columns*/
.content {
	width: 100%;
	text-align: center;
	line-height: 40px;
}
.content h4 {
	color: #424c43;
	font-size: 18px;
	font-weight: bold;
}
.content li {
	color: #424c43;
	font-size: 14px;
	padding: 0 15px;
	line-height: 24px;
}
.leftColumn {
	width: 200px;
	float: left;
	background: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
.centerColumn {
	width: 598px;
	float: left;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	border-right: 1px solid #c7cacf;
	border-left: 1px solid #c7cacf;
	z-index: 2;
}
.rightColumn {
	width: 200px;
	float: left;
	background: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
/*Footer*/
.footer {
	width: 100%;
}
p {
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
