@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/fselliotpro-bold-webfont.eot');
    src: url('../fonts/fselliotpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fselliotpro-bold-webfont.woff2') format('woff2'),
         url('../fonts/fselliotpro-bold-webfont.woff') format('woff'),
         url('../fonts/fselliotpro-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/fselliotpro-light-webfont.eot');
    src: url('../fonts/fselliotpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fselliotpro-light-webfont.woff2') format('woff2'),
         url('../fonts/fselliotpro-light-webfont.woff') format('woff'),
         url('../fonts/fselliotpro-light-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/fselliotpro-thin-webfont.eot');
    src: url('../fonts/fselliotpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fselliotpro-thin-webfont.woff2') format('woff2'),
         url('../fonts/fselliotpro-thin-webfont.woff') format('woff'),
         url('../fonts/fselliotpro-thin-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}