table {
	border-collapse: collapse;
}
td,
th {
	border: 10px solid black;
	width: 65px;
	height: 65px;
}
.red {
	width: 40px;
	height: 40px;
}
.h130 {
	height: 130px;
}
.w130 {
	width: 130px;
}
.red {
	background: #ff5e41;
}
.yellow {
	background: #ffe455;
}
.blue {
	background: #114d8d;
}
.black {
	background: #283b34;
}
.brnone {
	border-right: none;
}
.btnone {
	border-top: none;
}
.bbnone {
	border-bottom: none;
}
.blnone {
	border-left: none;
}