// FONTS
$title-f: "Great Vibes", Times, "Times New Roman", Georgia, serif;
$primary-f: "Playfair Display", Times, "Times New Roman", Georgia, serif;

// COLORS
$primary-color: #c09f42;

// PATH
$img-path: '../img/'